#banner {
  background: rgb(0, 88, 147);
  background: linear-gradient(to right, rgb(0, 88, 147), rgb(118, 20, 25));

  .faction-icon { 
    width: 80px;

    @media (min-width: 576px) { width: 120px; }
  }
}

#rating {
  position: relative;
  width: 100%;
  max-width: 220px; 
  margin: 0 auto;

  input { font-size: 1.5rem; }

  #x {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    color: var(--bs-dark);
    font-size: 1.6rem;
    cursor: pointer;

    &:hover { color: var(--bs-primary) }
  }
}

table {
  td { 
    padding: 4px 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .bracket {
    display: inline-block;
    width: 60px;
    text-align: center;
    border-radius: 4px;
  }
}
