<header class="sticky-top bg-dark">
  <div class="wrapper d-flex flex-row align-items-center py-3">
    <div>
      <img src="assets/icon-wow.png" alt="World of Warcraft icon" style="width: 50px">
    </div>
    
    <div class="ms-3">
      <h1 class="title mb-0">Arena Points</h1>
      <div style="font-family: 'Oswald', sans-serif">for <a href="https://en.wikipedia.org/wiki/World_of_Warcraft:_Wrath_of_the_Lich_King" target="_blank">WOTLK</a></div>
    </div>

    <div class="ms-auto" style="font-size: 2rem">
      <a href="https://github.com/nicotakenotice/wotlk-arena-points" target="_blank">
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</header>

<main class="flex-grow-1">
  <div class="wrapper py-3">
    <section id="banner" class="d-flex flex-row justify-content-around align-items-center rounded px-4 py-1">
      <div>
        <img class="faction-icon" src="assets/icon-alliance.png" alt="Alliance icon">
      </div>
  
      <div>
        <img class="faction-icon" src="assets/icon-horde.png" alt="Horde icon">
      </div>
    </section>

    <section class="mt-3">
      <h2 class="title">Rating <span *ngIf="showError" class="text-danger">(only numbers allowed)</span></h2>

      <div id="rating">
        <input class="form-control" type="text" maxlength="4" placeholder="0" [formControl]="rating">

        <div id="x" class="center" (click)="reset()">
          <i class="bi bi-x"></i>
        </div>
      </div>

      <div class="center mt-3">
        <table>
          <tr>
            <td><span class="bracket" style="background-color: var(--bs-green)">2vs2</span></td>
            <td><i class="bi bi-caret-right-fill"></i></td>
            <td>{{ points['2s'] }}</td>
          </tr>
          <tr>
            <td><span class="bracket" style="background-color: var(--bs-purple)">3vs3</span></td>
            <td><i class="bi bi-caret-right-fill"></i></td>
            <td>{{ points['3s'] }}</td>
          </tr>
          <tr>
            <td><span class="bracket" style="background-color: var(--bs-red)">5vs5</span></td>
            <td><i class="bi bi-caret-right-fill"></i></td>
            <td>{{ points['5s'] }}</td>
          </tr>
        </table>
      </div>
    </section>

    <section class="mt-3">
      <h2 class="title">Info</h2>

      <div>
        <ul>
          <li>You must have played at least 10 games before the next flush.</li>
          <li>If your rating is below or equal to 1500 you get a fixed amount of points.</li>
        </ul>
      </div>
    </section>
  </div>
</main>

<footer class="text-center bg-dark py-3">
  &copy; {{ currentYear }} <a href="https://github.com/nicotakenotice" target="_blank">@nicotakenotice</a>
</footer>
