/* Header */
#wow-icon { width: 60px; }

#title > h1 {
  margin-bottom: 0;
  font-size: 1.5em; 
}

/* Main content */
#gradient-box {
  background: rgb(0,88,147);
  background: linear-gradient(90deg, rgba(0,88,147,1) 0%, rgba(118,20,25,1) 100%);
  padding-top: 1em;
  padding-bottom: 1em;;
}

#alliance-icon, #horde-icon { width: 120px; }

#reset-button:hover { 
  cursor: pointer;
  color: var(--bs-info) 
}

/* Override Bootstrap values */
td { 
  padding-top: 0.2em;
  padding-bottom: 0.2em; 
}
.badge { font-size: 1em; }

/* Media queries */
@media (max-width: 575.98px) {
  #gradient-box { 
    padding-top: 0.5em;
    padding-bottom: 0.5em; 
  }
  #alliance-icon, #horde-icon { width: 80px; }
}

@media (max-width: 767.98px) {
  .col-md-next { margin-top: 1em }
}
