<div id="header-wrapper" class="bg-darker">
  <!-- Header -->
  <div id="header" class="container d-flex flex-row align-items-center py-3">
    <!-- Icon -->
    <img id="wow-icon" class="d-block" src="assets/icon-wow.png" alt="World of Warcraft icon">

    <!-- Title -->
    <div id="title" class="ml-3">
      <h1 class="text-warning">{{ title | uppercase }}</h1>
      <div>for <a href="https://en.wikipedia.org/wiki/World_of_Warcraft:_Wrath_of_the_Lich_King" target="_blank">WOTLK</a></div>
    </div>

    <!-- GitHub -->
    <a class="d-block ml-auto" href="https://github.com/nicotakenotice/wotlk-arena-points" target="_blank" title="GitHub repo!">
      <i class="fab fa-github fa-3x"></i>
    </a>
  </div>
</div>

<!-- Main content -->
<div id="main-content" class="container d-flex flex-column flex-grow-1 py-4">
  <!-- Gradient box -->
  <div id="gradient-box" class="d-flex flex-row justify-content-around rounded">
    <img id="alliance-icon" class="d-block" src="assets/icon-alliance.png" alt="Alliance icon">
    <img id="horde-icon" class="d-block" src="assets/icon-horde.png" alt="Horde icon">
  </div>

  <div class="row flex-grow-0 g-0 mt-4">
    <!-- Info column -->
    <div class="col-md">
      <div class="text-warning mb-2">INFO</div>

      <ul>
        <li>You must have played at least 10 games before the next flush.</li>
        <li>If your rating is below or equal to 1500 you get a fixed amount of points.</li>
      </ul>
    </div>

    <!-- Rating column -->
    <div class="col-md col-md-next">
      <div class="text-warning mb-2">RATING <span *ngIf="invalidInput" class="text-danger text-uppercase">(only numbers allowed)</span></div>
      
      <div class="d-flex flex-row align-items-center">
        <input #input class="form-control" type="text" placeholder="Insert your rating" (keyup)="valueChanged(input.value)">
        <div id="reset-button" class="ml-2" (click)="input.value = ''; valueChanged(input.value)" title="Reset"><i class="fas fa-times fa-2x"></i></div>
      </div>
      
      <table id="points-table" class="table table-borderless text-light mt-2">
        <thead>
          <tr>
            <th>Bracket</th>
            <th>Points</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><span class="badge rounded-pill bg-success">2vs2</span></td>
            <td>{{ points2s }}</td>
          </tr>
          <tr>
            <td><span class="badge rounded-pill bg-purple">3vs3</span></td>
            <td>{{ points3s }}</td>
          </tr>
          <tr>
            <td><span class="badge rounded-pill bg-danger">5vs5</span></td>
            <td>{{ points5s }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="footer-wrapper" class="bg-darker">
  <div id="footer" class="container py-3">
    &copy; {{ currentYear }} <a href="https://github.com/nicotakenotice" target="_blank">@nicotakenotice</a>
  </div>
</div>
