h1 { font-size: 1.3rem; }
h2 { font-size: 1.1rem; }
a { 
  text-decoration: none;
  transition: color 0.2s; 
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.center {
  display: grid;
  place-items: center;
}
.title {
  font-family: 'Oswald', sans-serif;
  color: var(--bs-warning);
  text-transform: uppercase;
}
.bg-gray-dark { background-color: var(--bs-gray-dark); }
